body {
  width: 800px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: auto;
  font-family: 'Life Savers', cursive;
  text-align: center;
  background: #5F8528;
  color: white;
  padding: 2px;
}
section {
  width: 100%;
  height: auto;
  background: #ffcc66;
}
figure, .app-main {
  width: 400px;
  height: auto;
  float: left;
}
figcaption {
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background: #C66854;
}
.bridget {
  background: white;
}
.bridget-talk {
   width: 100%;
   height: auto;
   color: white;
   font-size: 20px;
   padding: 15px;
}
.bridget-act {
  margin: 10px auto 0 auto;
}
.bridget-act > div, select, #add-debt, #add-income {
  cursor: pointer;
  height: auto;
  width: 300px;
  padding: 5px;
  margin: 3px auto;
  color: white;
  text-align: center;
  font-size: 18px;
}
.bridget-act > div, select, #add-debt {
  background: #A83C25;
}
#add-income {
  background: #5F8528;
  margin-bottom: 5px;
}
.bridget-reply {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  background: #5F8528;
  color: white;
  cursor: pointer;
  margin: 3px auto;
}
.app-main {
  width: 400px;
  height: auto;
  padding: 15px;
  font-size: 18px;
  background: #ffcc66;
}
input {
  display: block;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[name=budgetdesc] {
  width: 60%;
  display: inline-block;
}
input[name=budgetamount] {
  width: 38%;
  display: inline-block;
}
.app-main p:first-of-type {
  margin-top: 15px;
}
.app-main span {
  text-decoration: underline;
  color: #A83C25;
  font-weight: bold;
}
#calc-budget {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #C66854;
  color: white;
  text-align: center;
  margin: 30px auto 15px auto;
}
.income-entry, .debt-entry {
  width: 300px;
  height: auto;
  padding: 5px;
  margin: 3px auto;
  color: white;
  text-transform: capitalize;
}
.income-entry {
  background: #5F8528;
}
.debt-entry {
  background: #A83C25;
}
.income-entry > div, .debt-entry > div {
  float: right;
  width: 30px;
  height: 100%;
  cursor: pointer;
}
.income-entry > div {
  color: #8bc43b;
}
.debt-entry > div {
  color: #C66854;
}
.clearfix:after {
  content: "";
  display: block;
  opacity: 0;
  clear: both;
}
@media screen and (max-width: 799px) {
  body {
    width: 100vw;
  }
  figure, .app-main {
    width: 100%;
    float: none;
  }
  figure img {
    max-width: 100vw;
    display: block;
    margin: 0 auto;
  }
  
}
