body {
  width: 800px;
  margin: 0 auto;
}
figure, .app-main {
  width: 400px;
  height: auto;
  float: left;
}
figcaption {
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background: #999;
}
.bridget-talk {
   width: 100%;
   height: auto;
   color: white;
   font-size: 20px;
   background: #5F8528;
   padding: 15px;
}
.bridget-act {
  margin: 10px auto 0 auto;
}
.bridget-act > div {
  cursor: pointer;
  height: auto;
  width: 300px;
  padding: 5px;
  margin: 3px auto;
  border: 2px solid #f90;
  text-align: center;
  font-size: 18px;
}
.app-main {
  padding: 15px;
}
input {
  display: block;
  height: 30px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  padding-left: 10px;
}
