<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bridget</title>
  <link rel="stylesheet" href="css/css-reset.css" />
  <script src="https://use.fontawesome.com/9add800826.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Life+Savers" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="bridget-app">
  <main>
    <header>
      <div>
        <h1>Bridget</h1>
      </div>
    </header>
    <section class="clearfix">
      <div ng-controller="BridgetController">
        <figure class="bridget">
            <img ng-src="{{ face }}" alt="Bridget" />
            <figcaption>
              <div class="bridget-talk">
                <span>{{ greeting }}</span>
                <div class="bridget-act">
                  <select ng-model="appchoices.value"
                    ng-options="x for x in appchoices.choices"
                    ng-change="changeBridget()">
                  </select>
                </div>
              </div>
            </figcaption>
            <div class="bridget-reply" ng-click="updateBridget('tilt_left','yourewelcome')">
              Thank You, Bridget
            </div>
            <div class="bridget-reply" ng-click="updateBridget('concerned','sure')">
              Are you sure?
            </div>
            <div class="bridget-reply" ng-click="updateBridget('angry','sarcastic_negative')">
              I think you're wrong
            </div>
            <div class="bridget-reply" ng-click="showAbout()">
              Tell me about yourself
            </div>
        </figure>
      </div>
      <div class="app-main">
        <div ng-if="$root.budget" ng-controller="BudgetController">
          <h1>{{ title }}</h1>
          <form>
            <input type="text"
              placeholder="Description..."
              maxlength="20"
              name="budgetdesc"
              ng-model="budgetdesc"/>
            <input type="number"
              placeholder=0.00
              name="budgetamount"
              ng-model="budgetamount"/>
          </form>
          <div id="add-income"ng-click="addToIncome()">
            Add to Income
          </div>
          <div id="add-debt" ng-click="addToDebt()">
            Add to Debt
          </div>
          <div id="calc-budget" ng-click="handleBudget()">
            Calculate Budget
          </div>
          <div ng-if="ratio">
            <p>Your debt to income ratio is {{ ratio }}%</p>
            <p>You disposable income is {{ disposable | currency }}.</p>
            <p>
              {{ analysis_response }}
            </p>
          </div>
          <div class="income-entry" ng-repeat="(key, value) in income track by $index">
            {{ value.description }}: {{ value.amount | currency }}
            <div ng-click="removeIncome($index)">
              <i class="fa fa-times-rectangle-o"></i>
            </div>
          </div>
          <div class="debt-entry" ng-repeat="(key, value) in debt">
            {{ value.description }}: {{ value.amount | currency }}
            <div ng-click="removeDebt($index)">
              <i class="fa fa-times-rectangle-o"></i>
            </div>
          </div>
        </div>
        <div ng-if="$root.mortgage" ng-controller="MortgageController">
          <h1>{{ title }}</h1>
          <form>
            <label for="amount">Loan Amount</label>
            <input type="number"
              name="amount"
              ng-model="amount"
              ng-change="mortgageChange()"
              placeholder=0.00 />
            <label for="rate">Rate</label>
            <input
              type="number"
              for="rate"
              ng-model="rate"
              ng-change="mortgageChange()"
              placeholder=0.00 />
            <label for="term">Term</label>
            <input
              type="number"
              name="term"
              ng-model="term"
              ng-change="mortgageChange()"
              placeholder=30 />
          </form>
          <div ng-if="payment">
            <p>
              I estimate your monthly mortgage payment to be <span>{{ payment | currency }}</span>.  This includes
              principal and interest.  Keep in mind, your payment can increase depending on insurance premiums,
              HOA fees, and property taxes.
            </p>
            <p>
              You can decrease your mortage payment with a sizeable down payment.  Improving your credit can also decrease
              your payment by helping you qualify for a lower rate.
            </p>
          </div>
        </div>
        <div ng-if="$root.about">
          <p>
            Well, my name is Bridget and I'm a financial super-freak!
          </p>
          <p>
            I'm a single page web app written in <a href="https://angularjs.org/" target="_blank">AngularJS</a>. It's a JavaScript
            library that allows me to dynamically display content. I can be interactive, fast, and flexible.
          </p>
          <p>
            If you're nerdy, you can check out my code in this <a href="https://github.com/dsolis421/bridget" target="_blank">GitHub repository</a>. I'm a work in progress, so
            my code is sure to get more efficient as time goes by.
          </p>
          <p>
            I currently serve up calculations for a monthly budget and an estimated mortgage payment. I hope to expand my
            functionality to include credit card payoff, stock gains/losses, and maybe even 401k estimates.
          </p>
          <p>
            Take care and save for a rainy day!
          </p>
        </div>
      </div>
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="src/app.js"></script>
  <script src="src/controllers/BridgetController.js"></script>
  <script src="src/controllers/BudgetController.js"></script>
  <script src="src/controllers/MortgageController.js"></script>
</body>

</html>
